<h1>Data Science Tools and Ecosystem</h1>

**Objectives:**
* Python
* R
* SQL
* Scala
* Julia
* Java
* JavaScript
* Panda
* Scikit-learn
* Jupyter Notebook
* RStudio

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
ordered list
1. Python
2. R
3. SQL
4. Scala
5. Java
6. Julia
7. JavaScript

Some of the commonly used libraries used by Data Scientist include:
ordered list 
1. Pandas 
2. NumPy
3. Matplotlib
4. Seaborn
5. Keras
6. PyTorch
7. Scikit-learn

| Data Science Tools|
|-------------------|
| Jupyter Notebooks |
|-------------------|
| RStudio           |
|-------------------|
| Spyder            |
|-------------------|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
(3*4)+5 #This a simple arithmetic expression to multiply then add integers

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Malatse Phillimon Matabane